body{text-align: center; margin: 0; background-image: url('bgi1.jpg'); background-size: cover;}

#title{margin-top: 12vh; margin-bottom: 6vh; font-size: 6em; color: whitesmoke; background-color: rgba(0,0,0,0.24);}


#all_questions{
    display: flex;
    flex-direction: column;
  
  
}

.main_question{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.24);
    margin-top: 1.2vh;
    margin-bottom: 1.2vh;

}

.q{display: flex; flex-direction: column; font-size: 2.4em; font-weight: bolder; justify-content:center; padding-left:7.2vw; padding-right: 7.2vw; color: whitesmoke; border-color: rgba(0,0,0,0.9);}

#respect{font-size: 1.2em; padding-left:2.4vw; padding-right:2.4vw; padding-top: 2vh; padding-bottom: 2vh;}
.test_options{
    display: flex; flex-direction: column; justify-content:center; font-weight: bolder; font-size: 1.08em; padding-left:7.2vw; padding-right: 7.2vw; gap:0.18vw;}

.parentsforbuttons{display: flex; flex-direction: row; justify-content:center; gap: 1vw; margin-right: 3vw;}

.explanations{font-size: 0.48em; text-align: left; font-weight:bold; color:snow;}  

.slidecontainer {width: 90%;}
#slider_value{font-size: 1.2em; color: whitesmoke; padding-top: 1vh;}

.slider {
    margin-top: 1vh;
        -webkit-appearance: none;
        width: 72%;
        height: 3vh;
        background: rgba(240,240,240, 0.6);
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
.slider:hover {opacity: 1;}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 3vw; 
    height: 2.76vh; 
    background: rgba(0,0,0,0.72);
    cursor: pointer; 
  }
  
#preferences{display: flex; flex-direction: column; align-items: center; margin-bottom: 3vh; padding-left: 9vw; padding-right: 9vw;}
#dropdowns{display: flex; flex-direction: row; font-size: 1.72em; font-weight: bolder; color: whitesmoke; gap: 6vw;}

#natureelements{display:none; font-size: 0.9em;}   .dropclassnature{margin-bottom: 0.72vh; padding:0.6vh; border-style: solid; border-color: rgba(0,0,0,0); border-width: 0.198vh;}
#cultureelements{display:none; font-size: 0.9em;}  .dropclassculture{margin-bottom: 0.72vh; padding:0.6vh; border-style: solid; border-color: rgba(0,0,0,0); border-width: 0.198vh;}
#entertainmentelements{display:none; font-size: 0.9em;} .dropclassentertainment{margin-bottom: 0.72vh; padding:0.6vh; border-style: solid; border-color: rgba(0,0,0,0); border-width: 0.198vh;}
#cuisineelements{display:none; font-size: 0.9em;} .dropclasscuisine{margin-bottom: 0.72vh; padding:0.6vh; border-style: solid; border-color: rgba(0,0,0,0); border-width: 0.198vh;}


.droptitle{margin-top: 1vh; font-size: 1.2em; padding-left:2vw; padding-right:2vw; padding-top: 1.2vh; padding-bottom: 1.2vh; transition: background-color .6s; border-style: solid; border-color: rgba(0,0,0,0);}
.droptitle:hover{border-style: solid; border-color: whitesmoke; border-width: 0.108vw;}


#activities_container{display: flex; flex-direction: column; align-items: center;}
#selection_items1{display: flex; flex-direction: row; color: whitesmoke; font-size: 1.5em; gap:1.2vw; margin: 1.2vh; }
#selection_items2{display: flex; flex-direction: row; color: whitesmoke; font-size: 1.5em; gap:1.2vw;  margin: 1.2vh;  }
#selection_items3{display: flex; flex-direction: row; color: whitesmoke; font-size: 1.5em; gap:1.2vw;  margin: 1.2vh;  }
.selection{padding:1.8vh; border-style: solid; border-color: rgba(0,0,0,0); transition: background-color .4s;}
.selection:hover{background-color: rgba(0,0,0,0.78);}


button{font-size: 1.2em; border-style: groove; padding-left: 6vw; padding-right: 6vw; 
    background-color: rgba(0,0,0,0.9); color: whitesmoke; margin-top: 2vh; border-bottom: 2vh; margin-right: 1vw;
    border-radius: 24px 0px 24px 0px; border-style: none;
    transition: background-color .6s;
    }

button:hover{background-color: rgba(240,240,240, 0.6);}

.click_text{visibility: hidden; background-color:rgba(0,0,0,0.96); color: white; border-radius: 12px; padding: 1vh;}


#nav_bar{position: fixed; display: flex; flex-direction: row; 
    background-color: rgba(0,0,0,0.9); top: 0; justify-content: space-evenly;
    font-size: 1.8em; font-weight: bolder;
      align-content: center; 
    color: whitesmoke; border-style: solid; border-color: whitesmoke;}

.nav_element{border-left-style: solid; border-color: whitesmoke;  padding-top: 4.8vh; padding-bottom: 2.4vh; padding-right: 4.8vw; padding-left: 4.8vw;}
.nav_element:hover{background-color: whitesmoke; color: rgba(0,0,0,0.72);}

#nav_container{display: flex; flex-direction: row; justify-content: space-evenly;}


#submit{margin-top: 6vh; font-size: 2.4em; font-weight: bolder; padding: 0.6vw 3.6vw 0.6vw 3.6vw; border-width: 3px; background-color: rgba(240,240,240, 0.78); color:black;}
#submit:hover{background-color: rgba(0,0,0,0.84);; color:rgba(240,240,240, 0.78); border-color: whitesmoke; border-style: groove;}

#result{visibility: hidden; color: whitesmoke; font-size: 1.8em;}
#ordered_list{list-style:none;font-size: 1.2em;}




#allpeople{display: flex; flex-direction: row;  justify-content: space-evenly;}
#people_container{display: flex; flex-direction: column; width: 40%;}
#people{margin:0; padding-left:3vw; padding-right:3vw; justify-content: center;}
#peoplebuttons{margin:0;}

#safety_container{display:flex; flex-direction: column; justify-content: center; width: 40%;}
#safety{padding-left: 3vw; padding-right: 3vw; padding-top: 1vh;}

.newslidecontainer {width: 90%;}
#new_slider_value{font-size: 1.2em; color: whitesmoke; padding-top: 1vh;}

.newslider {
    margin-top: 1vh;
        -webkit-appearance: none;
        width: 72%;
        height: 3vh;
        background: rgba(240,240,240, 0.6);
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
.newslider:hover {opacity: 1;}

.newslider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 6vw; 
    height: 3vh; 
    background: rgba(0,0,0,0.84);
    cursor: pointer; 
  }
#warning{text-align: center; font-size: 0.78em; color:rgba(240,0,0,0.66)}

#text_respect{padding-top: 2.4vh;}
